<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uni-fy</title>
    <link rel="icon" type="image/x-icon" href="~/images/a2.ico">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UniFi.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet"> *@

   <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/all.min.css" rel="stylesheet">
    <link href="~/assets/css/fontawesome.css" rel="stylesheet">
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/css/venobox.min.css" rel="stylesheet">
    <link href="~/assets/css/aos.css" rel="stylesheet">
    <link href="~/assets/css/animate.css" rel="stylesheet">
    <link href="~/assets/css/slick.css" rel="stylesheet">
    <link href="~/assets/css/default.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #215BA0;">
            <div class="container-fluid">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UniFy</a>*@
                
                <a class="navbar-brand" href="#">
                    <img src="~/images/a2.gif" width="70" height="" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Brands">Brand Pages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Services">Services</a>
                        </li>
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dashboard
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Profiles" asp-action="AffilliateDashboard">Affilliate</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Profiles" asp-action="BrandDashboard">Brand</a></li>
                              </ul>
                        </li>
                    </ul>

                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


@*  <footer class="py-5 footer" style="background-color: #353073;">
      <div class="row">
           <div class="col-2">
               <h5>admin@unify.us</h5>
           </div>
           <div class="col-4 float-end">
               <a class="btn btn-primary w-25" asp-area="Identity" asp-page="/Account/Register" style="background-color: #FCD9BB; border-color: #FF840E; color: #FF840E; border-radius: 12px;">Join UniFY</a>
           </div> 
      </div>
    

    <div class="d-flex justify-content-between py-4 my-4 border-top">

        <div class="row">
      <div class="col-2">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        </ul>
      </div>

      <div class="col-2">

      </div>

      <div class="col-4 offset-1">

      </div>
    </div>

      <div class="float-end">
            <a href="https://twitter.com/UniFy_io/" target="_blank" style="color: #FF840E;"><i class="fa-brands fa-twitter fa-xl p-2"></i></a>
            <a href="https://discord.gg/ZSJcQ4dYzK" target="_blank" style="color: #FF840E;"><i class="fa-brands fa-discord fa-xl p-2"></i></a>
            <a href="https://www.instagram.com/uni_fy_io/" target="_blank" style="color: #FF840E;"><i class="fa-brands fa-instagram fa-xl p-2"></i></a>
            </div>
    </div>
  </footer>*@

  <br>
  <br>
  <br>
   <br>
  <br>
  <br>
   <br>
  <br>
  <br>
    <br>
  <br>
  <br>
   <br>
  <br>
  <br>
   <br>
  <br>
  <br>
    <footer class="footer text-muted" style="background: #353073;">

        <div class="text-center">
            <img class="" style="max-width:10%; max-height:10%;" src="~/images/a2.gif" alt="" />
        </div>

        <div class="container text-center" style="color: white;">
            <p style="line-height: normal;"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem is simply <br>
dummy text of the printing and setting industry. Lorem Ipsum is </p>
        </div>

        <div class="container" style="color: white;">
 @*        <div class="float-start">
               <h5 class="">admin@unify.us</h5>
           </div>*@
         <div class="row">
            <div class="col-8" style="display: flex;">
              <h5 class="" style="align-self: flex-end;">admin@unify.us</h5>
            </div>
            <div class="col-2">

            </div>
            <div class="col">
              <a class="btn btn-primary float-end" asp-area="Identity" asp-page="/Account/Register" style="background-color: #FCD9BB; border-color: #FF840E; color: #FF840E; border-radius: 12px;">Join UniFY</a>

            </div>
          </div>
           
@*           <div class="float-end">
               <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register" style="background-color: #FCD9BB; border-color: #FF840E; color: #FF840E; border-radius: 12px;">Join UniFY</a>
           </div> *@
        </div>
        
        <hr class="mx-5" style="height: 2px; background-color: white;">
        <div class="container" style="color: white;">
            <div class="float-start">
            @*<h5 class="mt-1">Section</h5>*@
        
          <h6 class=""><a asp-area="" asp-controller="Home" asp-action="Index" class="" style="text-decoration: none; color: white;">Home</a></h6>
          <h6 class=""><a asp-area="" asp-controller="Home" asp-action="Brands" class="" style="text-decoration: none; color: white;">Brand Pages</a></h6>
          <h6 class=""><a asp-area="" asp-controller="Home" asp-action="Products" class="" style="text-decoration: none; color: white;">Products</a></h6>
          <h6 class=""><a asp-area="" asp-controller="Home" asp-action="Services" class="" style="text-decoration: none; color: white;">Services</a></h6>
        <br>
            </div>
            <div class="float-end">
            <a href="https://twitter.com/UniFy_io/" target="_blank" style="color: #FF840E;"><i class="fa-brands fa-twitter fa-xl p-2"></i></a>
            <a href="https://discord.gg/ZSJcQ4dYzK" target="_blank" style="color: #FF840E;"><i class="fa-brands fa-discord fa-xl p-2"></i></a>
            <a href="https://www.instagram.com/uni_fy_io/" target="_blank" style="color: #FF840E;"><i class="fa-brands fa-instagram fa-xl p-2"></i></a>
            </div>
        </div>
        
    </footer>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="https://kit.fontawesome.com/86d2cf5cc5.js" crossorigin="anonymous"></script>
    @* <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> *@
    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/Popper.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/venobox.min.js"></script>
    <script src="~/assets/js/aos.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    
    <script>
  AOS.init();
  var clipboard = new ClipboardJS('.btn-copy');
</script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
