@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    
    @* <a class="p-2" style="color: whitesmoke;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a> *@

    <a class="p-2" style="color: black;">@User.Identity?.Name!</a>
    @* <a class="log__bt" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a> *@
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
        <button type="submit" class="sign__bt">Logout</button>
    </form>
}
else
{
    <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Register">Sign Up</a></li>
}

