<!doctype html><html lang=""><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="icon" href="/favicon.ico"><title>walletconnect</title><script defer="defer" src="/js/chunk-vendors1.js"></script><script defer="defer" src="/js/app1.js"></script><link href="/css/app.ea6cec6d.css" rel="stylesheet"></head><body style=""><noscript><strong>We're sorry but walletconnect doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div class="card" style="background-color: #0C072A; border-radius: 16px;">
    
    <br>
        <h3 class="text-center" style="color: whitesmoke;">Link Brand Wallet</h3>
    
    <div id="app"></div>
    <br>
    <br>
    <br>

    </div><script>// Work-around node polyfills missing in Vite.
      window.global = window;</script></body></html>