@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .cf i {
        font-size: 23px;
        color: #FF840E;
    }
</style>
<div class="m-5 text-center">


    <h1 style="color: whitesmoke;">You require an approved profile to create a brand page.</h1>
<br>
    <h2 style="color: whitesmoke;">Reach out to us on our socials below to find out how.</h2>
<br>
    <h3 style="color: #FF840E;">hello@uni-fy.us</h3>

    <div class="row justify-content-center">
        <div class="cf">
            <a href="https://twitter.com/UniFy_io/"><i class="fa-brands fa-x-twitter p-3"></i></a>
            <a href="https://discord.gg/ZSJcQ4dYzK"><i class="fa-brands fa-discord p-3"></i></a>
            @* <a href="https://www.youtube.com/channel/UCjvaWmNCxPdq3UXaHB34DCQ"><i class="fa-brands fa-youtube"></i></a> *@
            <a href="https://www.tiktok.com/@@unify_us/"><i class="fa-brands fa-tiktok p-3"></i></a>
            <a href="https://www.instagram.com/uni_fy_io/"><i class="fa-brands fa-instagram p-3"></i></a>
        </div>
    </div>
</div>