@model UniFi.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .textc {
        color: whitesmoke;
    }

</style>

<h1 class="text-center textc">Create</h1>

<h4 class="text-center textc">Product</h4>
<hr />
<div class="row d-flex justify-content-center" style="margin: 10px;">
    <div class="col-md-8" style="background-color: #0C072A; border-radius: 16px;">
        <form asp-action="Create" class="textc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="None"/>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" value="None"/>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <!-- For the 'AltImage1' property -->
            <div class="form-group">
                <label asp-for="AltImage1" class="control-label"></label>
                <input asp-for="AltImage1" class="form-control" />
                <span asp-validation-for="AltImage1" class="text-danger"></span>
            </div>

            <!-- For the 'AltImage2' property -->
            <div class="form-group">
                <label asp-for="AltImage2" class="control-label"></label>
                <input asp-for="AltImage2" class="form-control" />
                <span asp-validation-for="AltImage2" class="text-danger"></span>
            </div>

            <!-- For the 'AltImage3' property -->
            <div class="form-group">
                <label asp-for="AltImage3" class="control-label"></label>
                <input asp-for="AltImage3" class="form-control" />
                <span asp-validation-for="AltImage3" class="text-danger"></span>
            </div>

            <!-- For the 'Feature1' property -->
            <div class="form-group">
                <label asp-for="Feature1" class="control-label"></label>
                <input asp-for="Feature1" class="form-control" />
                <span asp-validation-for="Feature1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Feature2" class="control-label"></label>
                <input asp-for="Feature2" class="form-control" />
                <span asp-validation-for="Feature2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Feature3" class="control-label"></label>
                <input asp-for="Feature3" class="form-control" />
                <span asp-validation-for="Feature3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Feature4" class="control-label"></label>
                <input asp-for="Feature4" class="form-control" />
                <span asp-validation-for="Feature4" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Feature5" class="control-label"></label>
                <input asp-for="Feature5" class="form-control" />
                <span asp-validation-for="Feature5" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Feature6" class="control-label"></label>
                <input asp-for="Feature6" class="form-control" />
                <span asp-validation-for="Feature6" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Service" /> @Html.DisplayNameFor(model => model.Service)
                </label>
            </div>
            
            <div class="form-group form-check" style="display: none">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disabled" /> @Html.DisplayNameFor(model => model.Disabled)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

