@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Error";
}

<br/>
<br/>

<h1 class="text-center" style="font-size: 50px">Uni-Fy</h1>
<div style="text-align: left; top: 0px; position: absolute;"><img src="~/images/a2.gif" width="150" alt="My Image" /></div>

<br/>
<br/>

<div class="row row-cols-1 row-cols-md-1">
  <div class="col mb-4">
    <div class="card h-100" style="background-color: rgba(255, 255, 255, 0.2);">
      <div class="card-body m-5 text-center">
        <h4 class="card-text">Error</h4>
        <br>
        <p>Please Enter a Valid Email.</p>   
        <a class="btnGlow" href="/" style="max-width: 300px;">Enter Email</a>
      </div>

    </div>
  </div>
</div>