@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome";
}

<br/>
<br/>

<h1 class="text-center" style="font-size: 50px">Uni-Fy</h1>
<div style="text-align: left; top: 0px; position: absolute;"><img src="~/images/a2.gif" width="150" alt="My Image" /></div>

<br/>
<br/>

<div class="row row-cols-1 row-cols-md-1">
  <div class="col mb-4">
    <div class="card h-100" style="background-color: rgba(255, 255, 255, 0.2);">
      <div class="card-body m-5">
        <h4 class="card-text">Thank you for signing up with your email!</h4>
        <br>
        <p>🎉 Welcome to our community. We're thrilled to have you on board and can't wait to embark on this exciting journey together. </p>

        <p>📩 You've taken the first step towards staying connected with us and receiving the latest updates. We promise to keep you informed about our latest developments, announcements, and opportunities.</p>

        <p>🌐 In the meantime, we invite you to join our vibrant Discord community, where you can connect with like-minded individuals, engage and learn more about web3, and stay up to date with all things Uni-Fy. The Uni-Fy Discord is the hub for networking, learning, and sharing ideas.  </p>

        <p>Click here to: <a class="btnGlow" href="https://discord.gg/ZSJcQ4dYzK" target="_blank" style="max-width: 300px;">Join Discord <i class="fa-brands fa-discord p-1"></i> </a></p>

        <p>🙌 We truly believe in the power of community, and we're excited to have you as part of ours. Together, we'll explore the endless possibilities of the Web3 world and shape the future of decentralized innovation. </p>

        <p>💌 If you have any questions, concerns, or suggestions, don't hesitate to reach out to us at [support email] or open a ticket in our discord. We're here to assist you every step of the way. </p>

        <p>Once again, thank you for joining Uni-Fy.  </p>

        <p>Let's revolutionize the Web3 landscape together. </p>

        <p>Aggregation, Engagement, Growth. </p>

        <p><b>Best regards, </b></p>
        <p><b>The Uni-Fy Team </b></p>
        

      </div>

    </div>
  </div>
</div>